name: Setup App

on:
  push:
    branches: [main]


jobs:
  run-qa:
    name: Run QA
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: pcov

      - name: Install dependencies
        run: |
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction
          npm i
          npm run dev
      - name: List Installed Dependencies
        run: composer show -D

      - name: Setup .env
        run: cp .env.example .env

      - name: Run Tempest console
        run: php ./tempest

      - name: Run Tempest Server in the background
        run: php ./tempest serve &

      - name: Try GET request
        run: curl http://localhost:8000