name: tempest/app QA trigger from tempest/framework

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 8 * * *'

jobs:
  run-qa:
    name: Run QA
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: pcov

      - name: Install dependencies
        run: |
          composer update
          npm i
          npm run dev
      - name: List Installed Dependencies
        run: composer show -D

      - name: Setup .env
        run: cp .env.example .env

      - name: Run Tempest console
        run: php ./tempest

      - name: Run Tempest Server in the background
        run: php ./tempest serve &

      - name: Try GET request
        run: curl http://localhost:8000